fastapi
uvicorn
pydantic
pydantic-settings
python-multipart

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama

faiss-cpu
pypdf

streamlit
requests
python-dotenv